/*第一部分*/
#cont_1 {
    width: 100%;
    height: 580px;
    background: url("../images/bg/bg4.png") no-repeat;
    background-position: 0px 170px;
    padding-top: 62px;
}

#cont_1 img {
    margin-top: 96px;
    margin-left: 513px;
}

#cont_1 .p1 {
    margin-top: 60px;
    margin-left: 340px;
    font-size: 36px;
    color: #333333;
    font-weight: 600;
    letter-spacing: 3px;
}

#cont_1 .p1 span {
    color: #347ffe;
}

#cont_1 .cont_1_1 {
    margin-left: 423px;
}

#cont_1 .cont_1_1 button {
    cursor: pointer;
    margin-top: 104px;
    margin-left: 50px;
    outline: none;
    border: none;
    width: 180px;
    height: 45px;
    background-color: #347ffe;
    border-radius: 22px;
}

#cont_1 .cont_1_1 button a {
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    width: 180px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    color: #ffffff;
}

#cont_1 .p2 {
    font-size: 14px;
    color: #666666;
    margin-top: 10px;
    margin-left: 503px;
}

#cont_1 .p3 {
    font-size: 18px;
    color: #347ffe;
    margin-top: 58px;
    margin-left: 480px;
}

#cont_1 .p4 {
    font-size: 14px;
    color: #666666;
    margin-top: 10px;
    margin-left: 520px;
}

#cont_1 .p5 {
    cursor: pointer;
    font-size: 14px;
    color: #347ffe;
    margin-top: 4px;
    margin-left: 540px;
}
